*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins-Medium";
}
.header{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
min-height: 70px;

z-index: 1;
position: absolute;
}
.container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
font-size: 14px;
font-weight: 600;
transition: .5s;
}
nav ul li a:hover{
    color:rgb(108, 122, 224) ;
    transition: .5s;
}
.icons{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
.icons .icon:hover{
    color:rgb(108, 122, 224) ;
    transition: .5s;
}